#sidebar: p {{sidebar_text}}

.logos
  img(src="file:///{{ egf_logo_url }}" style="height:40px; width: auto")




hr
h1 Overhang set report
hr

div(style="margin-top:1cm; margin-bottom:1cm;")


if overhangset.has_errors
  p(style="text-align:left;")
    b(style='font-size: 50px;') #[span.red ☒] &ensp; #[span.grey {{ overhangset.name }}]
else
  if overhangset.has_warnings
      p(style="text-align:left;")
        b(style='font-size: 50px;') #[span.yellow ⚠] &ensp; #[span.grey {{ overhangset.name }}]
  else
    //- all good
    p(style="text-align:left;")
      b(style='font-size: 50px;') #[span.green ☑] &ensp; #[span.grey {{ overhangset.name }}]



p.
  There are <b>{{ number_of_overhangs }}</b> overhangs in this set. The restriction
   enzyme used for this set is <b>{{ overhangset.enzyme }}</b>.
p Overhangs in this set: {{ overhangset.overhang_input_txt }}.

if overhangset.has_errors
  if overhangset.has_duplicates
    p
      strong #[span.red Error!] Duplicate overhangs in set.
  if overhangset.palindromic_text
    p
      strong #[span.red Error!] {{ overhangset.palindromic_text }}
  if overhangset.has_rc_error
    p
      strong #[span.red Error!] {{ overhangset.rc_error_text }}

else
  //- display warnings:
  if overhangset.weak_anneals
    p
      strong #[span.yellow Warning!] Weakly annealing overhang(s): {{ overhangset.weak_anneals }}<br>
  if overhangset.self_misanneals
    p
      strong #[span.yellow Warning!] The following may have self-misannealing issues: {{ overhangset.self_misanneals }}
  if overhangset.misanneals
    p
      strong #[span.yellow Warning!] The following pairs may have misannealing issues: {{ overhangset.misanneals }}

  if overhangset.set_size_text
    p
      strong #[span.yellow Warning!] {{ overhangset.set_size_text }}

  if overhangset.overhangs_in_site_txt
    p
      strong #[span.yellow Warning!] The following overhang(s) are part of the enzyme site: {{ overhangset.overhangs_in_site_txt }}<br>

  p {{ similar_overhangs }}


p Please see the Appendix on the last page for an explanation of details.


<div style = "display:block; clear:both; page-break-after:always;"></div>

p <a href="https://github.com/Edinburgh-Genome-Foundry/tatapov">Tatapov</a> annealing plot:

img#diff-figure(src="{{ overhangset.figure_data }}")



<div style = "display:block; clear:both; page-break-after:always;"></div>






each overhang in overhangset.overhangs

  div(style="margin-top:1cm; margin-bottom:1cm;")


  if overhang.is_usable
    p(style="text-align:left;")
      b(style='font-size: 50px;') #[span.green ☑] &ensp; #[span.grey {{ overhang.overhang }}]
      #[span.big &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; {{ overhang.overhang_rc }}]
  else
    p(style="text-align:left;")
      b(style='font-size: 50px;') #[span.red ☒] &ensp; #[span.grey {{ overhang.overhang }}]
      #[span.big &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; {{ overhang.overhang_rc }}]


  if overhang.has_extreme_gc
    p #[span.red Extreme GC content: {{ overhang.gc_content_percent }} %.]
  else
    p GC content: #[strong {{ overhang.gc_content_percent }} %].

  if overhang.is_palindromic
    p #[span.red The overhang is palindromic, cannot be used for DNA assembly.]

  if overhang.has_start_codon
    p The overhang contains the start codon ATG.
  else
    if overhang.has_rc_start_codon
      p The overhang contains the start codon ATG.

  if overhang.has_stop_codon
    p The overhang contains a stop codon (TAA, TAG or TGA).
  else
    if overhang.has_rc_stop_codon
      p The overhang contains a stop codon (TAA, TAG or TGA).

  if overhang.has_multimer
    p Has 3 identical bases in a row. However, this has not shown to be very important.

  p Can form the following amino acids in 6 translation frames:<br>
    each pattern in overhang.aa_patterns
      &ensp; {{ pattern }} <br>

  p Misannealing overhangs:

  img#diff-figure(src="{{ overhang.figure_data }}")



  <div style = "display:block; clear:both; page-break-after:always;"></div>






h2 Appendix

p The report consists of 3 sections: results, overhangs, appendix.

p
  h5 Result page(s)
p The first page describes the overhang set. The result is also summarised with a symbol:

p #[span.green ☑] : good overhang set
p #[span.yellow ⚠] : warning; there are potential issues, or ways to significantly improve the set
p #[span.red ☒] : error: the set cannot be used for DNA assembly

p
  h5 Overhang pages
p.
  Each overhang is also analysed separately. The result is summarised with a symbol:

p #[span.green ☑] : good overhang
//- p #[span.yellow ⚠] : warning
p #[span.red ☒] : unusable palindromic sequence

p.
  <b>Overhangs</b> are unpaired nucleotides at the end of a double-stranded linear DNA
  molecule. These overhangs create "sticky" (non-blunt) DNA ends.
  Overhangs can be on either strand; 5' or 3' overhangs.
  During DNA assembly, these overhangs are created by type IIS restriction enzymes, and
  ligated with another DNA with a complementary overhang, by ligases.
  The type of the restriction enzyme and the ligase influences the misannealing rate,
  which is displayed in a summary plot. For more details, see the
  <a href="https://github.com/Edinburgh-Genome-Foundry/tatapov">Tatapov</a> package and
  Pryor et al. (<a href="https://doi.org/10.1371/journal.pone.0238592">PLoS ONE (2020) 15(9): e0238592</a>).

p.
  If an overhang sequence is part of the enzyme's recognition site, then there is a higher chance that it will make up an enzyme site with adjacent nucleotides.

p.
  After the assembly, these overhangs remain in the sequence as fusion sites ("scars").
  If this is in a coding sequence (CDS), then addition of nucleotides can ensure that
  the two joining parts remain in the same translation frame. By carefully choosing which
  nucleotides we add, we can select suitable amino acids, or start/stop codons.
  For each overhang, a list of codons is also displayed that shows translation options.
  The <a href="https://github.com/Edinburgh-Genome-Foundry/genedom">GeneDom package</a>
  can be used for automating the addition of these nucleotides, the overhangs and the
  enzyme sites.


p
  strong Overhang sets
p.
  Use the 
  <a href="https://github.com/Edinburgh-Genome-Foundry/GoldenHinges">GoldenHinges</a>
  Python package to generate a set of mutually compatible overhangs that can be used for
  DNA assembly.






style.
  .green {
    color: #86bf86
  }
  .grey {
    color: #a9a9a9
  }
  .red {
    color: #fd5a31
  }
  .yellow {
    color: #f7b500
  }
  .big {
    font-size: 50px;
    font-weight: bold;
    color: #a9a9a9
  }
